run = "python flask_app.py"
entrypoint = "flask_app.py"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "gunicorn -w 1 -b 0.0.0.0:8080 flask_app:app --timeout 300"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
